<div data-sly-test="${wcmmode.edit}" data-emptytext="Blog List Component" class="cq-placeholder"></div>
<sly data-sly-use.blogList="com.aem.ge.blog.core.models.BlogListModel"/>
<h1 class="text-danger mb-5">${blogList.heading}</h1>
<div class="row row-cols-1 row-cols-sm-2" data-sly-list.article="${blogList.articleList}">
	<div class="col mb-4">
		<div class="card shadow">
			<img src="${article.fileReference}" class="card-img-top" alt="...">
			<div class="card-img-overlay">
				<span class="badge badge-danger bg-cus cus-badge">${article.badge}</span>
			</div>
			<div class="card-body">
				<h5 class="card-title subtitle">${article.heading}</h5>
				<p class="text-muted date-id">${'MMMM YYYY' @format=article.pubDate, type='datetime'}</p>
				<p class="card-text description">${article.description}</p>
				<a href="${article.pagePath}" class="card-link stretched-link"></a>
		  </div>
		</div>
	</div>
</div>
<button type="submit" class="btn btn-danger mx-auto d-block cus-btn" 
		data-sly-test="${blogList.isLoadMore}">${blogList.buttonLabel}</button>