<div role="main" class="container my-5">
	<div class="row">
		<div class="col">
			<sly data-sly-use.blogList="com.aem.ge.blog.core.models.BlogListModel"/>
			<h1 class="text-dark mb-5">${blogList.heading}</h1>
			<div class="row row-cols-1 row-cols-sm-3" data-sly-list.article="${blogList.articleList}">
				<div class="col mb-4">
					<div class="card shadow">
						<img src="${article.fileReference}" class="card-img-top" alt="...">
						<div class="card-img-overlay">
							<span class="badge badge-danger bg-cus cus-badge">${article.badge}</span>
						</div>
						<div class="card-body">
							<h5 class="card-title subtitle">${article.heading}</h5>
							<p class="text-muted date-id">${'MMMM YYYY' @format=article.pubDate, type='datetime'}</p>
							<a href="${article.pagePath}" class="card-link stretched-link"></a>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>