<!-- FOOTER START -->
		<div class="homepageFooterBottom marginBottom20 marginTop20 ">
    <div class="mWrapper">
        <div class="footerContent">
            <div class="homepage-footer-left-privacy">
                <div class="innerWrap clearF">
                    <div class="tnc dIB">
                        <div class="homepagev2 page">

<span class="analytics"><a adhocenable="false" href="#">Terms and Conditions</a> | <a adhocenable="false" href="/sg/en/privacy-and-security-policy.html">Privacy and Security Policies</a>&nbsp;| <a adhocenable="false" href="/sg/en/other-policies-and-notices.html">Other Policies and Notices</a></span>
</div>

                    </div>
                    <div class="copyRight dIB">
                        <div class="tnctext2 textonly parbase">

<span class="analytics">Copyrightę 2021 Great Eastern Holdings Limited (Reg No 1999 03008M)</span>
</div>

                    </div>
                    <div class="footerNote"><div class="tnctext3 textonly parbase">

<span class="analytics">Great Eastern Holdings Ltd | Great Eastern Life Assurance Co Ltd | Great Eastern General Insurance&nbsp;Ltd</span>
</div>
</div>
                </div>
            </div>
            <div class="homepage-footer-right-social-media">
                <div class="socialicons socialmedialist">
 
    
	<div class="social fLeft">
    
		<a href="#" target="_blank" onclick="javascript:recordCustomLink(COMPONENT_TYPE_SOCMED, LINK_TYPE_ICON, '', 'Facebook', this.href);"><img class="icon" src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/socials/icon_fb_off.png"></a>
	</div>
	
	
	<div class="social fLeft">
    
		<a href="#" target="_blank" onclick="javascript:recordCustomLink(COMPONENT_TYPE_SOCMED, LINK_TYPE_ICON, '', 'Youtube', this.href);"><img class="icon" src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/socials/icon_youtube_off.png"></a>
	</div>
	
	
	<div class="social fLeft">
    
		<a href="#" target="_blank" onclick="javascript:recordCustomLink(COMPONENT_TYPE_SOCMED, LINK_TYPE_ICON, '', 'LinkedIn', this.href);"><img class="icon" src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/socials/icon_linkedin_off.png"></a>
	</div>
	
	
	<div class="social fLeft">
    
		<a href="#" target="_blank" onclick="javascript:recordCustomLink(COMPONENT_TYPE_SOCMED, LINK_TYPE_ICON, '', 'Instagram', this.href);"><img class="icon" src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/socials/icon_instagram_off.png"></a>
	</div>
	

</div>

            </div>
        </div>
    </div>
</div>
	<!-- FOOTER END -->