<div data-sly-test="${wcmmode.edit}" data-emptytext="Popular Blogs Component" class="cq-placeholder"></div>
<sly data-sly-use.blogList="com.aem.ge.blog.core.models.BlogListModel"/>
<h3 class="text-danger mb-5">${blogList.heading}</h3>
<sly data-sly-list.article="${blogList.articleList}">
<div class="col mb-4">
	<div class="card shadow">
		<img src="${article.fileReference}" class="card-img-top" alt="...">
		<div class="card-img-overlay">
			<span class="badge badge-danger bg-cus cus-badge">${article.badge}</span>
		</div>
		<div class="card-body">
			<h5 class="card-title subtitle">${article.heading}</h5>
			<p class="text-muted date-id">${'MMMM YYYY' @format=article.pubDate, type='datetime'}</p>
			<a href="${article.pagePath}" class="card-link stretched-link"></a>
		</div>
	</div>
</div>
</sly>