<div data-sly-test="${wcmmode.edit}" data-emptytext="Blog Article Component" class="cq-placeholder"></div>

<sly data-sly-use.blog="com.aem.ge.blog.core.models.BlogArticleModel"/>
<main role="main" class="container">
	<h6 class="text-danger">${'MMMM YYYY' @format=blog.pubDate, type='datetime'}</h6>
	<h1 class="ge-headline1">${blog.heading}</h1>
	<h5 class="ge-body-text--primary">${blog.description}</h5>
	<p class="text-muted mt-3">${blog.pubText} | &#128339; <span id="read-mins"></span> mins read</p>
</main>

<sly data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"/>
<div class="container-fluid px-0 pt-5 mt-5" data-sly-test="${image.fileReference}">
	<div class="row">
		<div class="col-12">
			<img src="${image.fileReference}" class="img-fluid w-100 img-cus-h"
				alt="${image.alt || true}">
		</div>
	</div>
</div>

<main role="main" class="container pt-5 cus-con">
<div class="row justify-content-center">
	<div class="col-sm-8">
		<div class="article-content" 
			data-sly-resource="${@path='par', resourceType='wcm/foundation/components/responsivegrid'}">
		</div>
		

		<div class="border-left border-danger pl-4 my-5">
			<small>${blog.authorlabel}</small>
			<p>${blog.author}</p>
			<div data-sly-list.tag="${blog.tags}">
				<span class="badge badge-secondary badge-cus-color p-2 mr-2">${tag.title}</span>
			</div>
		</div>

	</div>
</div>

</main>
