<div data-sly-test="${wcmmode.edit}" data-emptytext="Heading Banner Component" class="cq-placeholder"></div>
<div class="bg-cus">
	<div role="main" class="container py-4 mt-5">
		<div class="row">
			<div class="col">
				<h2 class="text-white heading">${properties.heading}</h2>
				<p class="text-white">${properties.description}</p>
			</div>
		</div>
	</div>
</div>