
body {
  padding-top: 5rem;
}

.ge-headline1 {
    font-size: 3.4rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
    line-height: 1.25;
    margin-bottom: 1rem;
	color: #4d4d4d;
}

.ge-body-text--primary {
    color: #4d4d4d;
}

.img-cus-h {
	height: 36.2rem;
}

.p-cus-style {
	font-size: 1.2rem;
    /*letter-spacing: .056rem*/
    line-height: 1.4;
}

.badge-cus-color {
	color: #8c8c8c;
	background-color: #f2f2f2;
}

.ltitle {
    color: #4d4d4d;
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    color: #4d4d4d;
    font-weight: 600;
}

.date-id {
	font-size: 12px;
	margin-bottom: .5rem;
}

.description {
    font-size: 14px;
	line-height: 20px;
    color: #808080;
    /*padding-bottom: 8px;*/
}

.bg-cus {
	background: #ED1C24;
}	

.heading {
    font-weight: bold;
}

.cus-con {
	position: relative;
    margin-top: -40px;
    background-color: white;
}

.btn-outline-light {
	border-color: #f8f9fa !important;
	color: #f8f9fa;
}

.cus-badge{
	font-weight: normal;
}

.ul-bold ul {
	padding-left: 15px;
}

.ul-bold ul li {
	color: red;
    list-style-type: square;
	margin: 10px 0;
}

.ul-bold ul li span {
    color: #4d4d4d;
	font-weight: bold;
	font-size: 1.2rem;
}

.ul-normal ul li {
	color: red;
    list-style-type: square;
}

.ul-normal ul li span {
    color: #4d4d4d;
	font-size: 1.2rem;
}

.ol-bold {
	font-weight: bold;
	font-size: 1.2rem;
}

.cus-link a {
	text-decoration: underline;
    color: #bf171d;
}

@media (min-width: 768px)
.ge-headline1 {
    font-size: 4.8rem;
    line-height: 1.25;
    letter-spacing: -0.04rem;
}


