
body {
  padding-top: 5rem;
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    color: #4d4d4d;
    font-weight: 600;
}

.date-id {
	font-size: 12px;
	margin-bottom: .5rem;
}

.description {
    font-size: 14px;
	line-height: 20px;
    color: #808080;
}

.cus-btn {
	background-color: #ed1c24;
}

.sidetitle {
    font-size: 16px;
    line-height: 20px;
    color: #4d4d4d;
    font-weight: 600;
	margin-bottom: .5rem;
}

.bg-cus {
	background: #ED1C24;
}

.cus-badge{
	font-weight: normal;
}

.carousel-control-next, .carousel-control-prev {
    width: 1.5%;
	opacity: .8;
}

.icon-right {
	position: absolute;
	right: 0;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators .active {
    background-color: #ED1C24 !important;
}

.carousel-caption {
    right: 60%;
    left: 5%;
    text-align: left;
}

.tab__icon{
        position: absolute;
        background: url(../resources/icon_home.png) no-repeat transparent;
}