<main role="main" class="container my-5">
	<div class="row">
		<div class="col-sm-8 mb-5">
			<div data-sly-resource="${@path='parmain', resourceType='wcm/foundation/components/responsivegrid'}"></div>
		</div>
		
		<div class="col-sm-4">
			<div data-sly-resource="${@path='parright', resourceType='wcm/foundation/components/responsivegrid'}"></div>
		</div>
	</div> 
</main>