<sly data-sly-use.carousel="com.aem.ge.blog.core.models.CarouselModel"/>
<div data-sly-test="${wcmmode.edit}" data-emptytext="Carousel Component" class="cq-placeholder"></div>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators" data-sly-list.item="${carousel.carouselItems}">
		<li data-target="#carouselExampleCaptions" data-slide-to="${itemList.index}" class="bg-secondary ${itemList.first? 'active' : ''}"></li>
	</ol>
	<div class="carousel-inner" data-sly-list.item="${carousel.carouselItems}">
		<div class="carousel-item ${itemList.first? 'active' : ''}">
			<img src="${item.image}" class="d-block w-100" alt="${item.alttext}">
			<div class="card-img-overlay">
				<span class="badge badge-danger bg-cus cus-badge">${item.badge}</span>
			</div>
			<div class="carousel-caption d-none d-md-block">
				<h2>${item.heading}</h2>
				<p>${item.description}</p>
				<a class="btn btn-danger cus-btn" href="${item.ctaLink}" role="button" target="${item.isNewTab}">${item.ctaLabel}</a>
			</div>
		</div>
	</div>
	<sly data-sly-test="${carousel.carouselItems}">
	<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true">
			<img src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/icon_carousel_left.png">
		</span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true">
			<img class="icon-right" src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/icon_carousel_right.png">
		</span>
		<span class="sr-only">Next</span>
	</a>
	</sly>
</div>