<!-- HEADER START -->
	<div class="topNavBar">
    <div class="mWrapper">
        <div class="topNavBarLeft fLeft">
            <div class="navBarItem fLeft" onclick="ChangeLocationURL('navbarhome');">
                <div class="innerWrap">
                    <a href="#" id="navbarhome2"></a>
                	<a href="#" id="navbarhome"></a><img src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/icon_home.png" border="0">

                </div>
            </div>
            <!-- developer note: class="active" item has white background, please add active class to current page, active item do not has tooltip so don't add class="hastip" -->
            <!-- developer note: class="hastip" will has tooltip when rollover, use title for text of tooltip -->
            
            
            
            <div class="navBarItem fLeft hastip" onclick="ChangeLocationURL('0_personal-insurance');" title="">
                <div class="innerWrap">
                    Personal Insurance<a href="#" id="0_personal-insurance"></a>
                </div>
            </div>

            
            <div class="navBarItem fLeft hastip" onclick="ChangeLocationURL('1_corporate-solutions');" title="">
                <div class="innerWrap">
                    Corporate Solutions<a href="#" id="1_corporate-solutions"></a>
                </div>
            </div>

            
            <div class="navBarItem fLeft hastip" onclick="ChangeLocationURL('2_careers');" title="">
                <div class="innerWrap">
                    Careers<a href="#" id="2_careers"></a>
                </div>
            </div>

            
            <div class="navBarItem fLeft hastip" onclick="ChangeLocationURL('3_about-us');" title="">
                <div class="innerWrap">
                    About Us<a href="#" id="3_about-us"></a>
                </div>
            </div>

            
            <div class="navBarItem fLeft hastip" onclick="ChangeLocationURL('4_gogreat');" title="">
                <div class="innerWrap">
                    DPS<a href="#" id="4_gogreat"></a>
                </div>
            </div>

            
            <div class="navBarItem fLeft hastip" onclick="ChangeLocationURL('5_lifehacks');" title="">
                <div class="innerWrap">
                    Life Hacks <a href="#" id="5_lifehacks"></a>
                </div>
            </div>

            

            <div class="clear"></div>
        </div>
        <div class="topNavBarRight fRight">
            <div class="navBarItem fLeft">
                <div class="innerWrap">
                    <div class="expandable">
                        <div class="expandableTop rel">
                            Quick Links  
                        </div>
                        <div class="expandableBottom abs" style="min-width:100px">
							<ul>
                            <li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/our-promotions-and-events/2021/covid19-coverage.html">GREAT Vaccine Fund</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/our-promotions-and-events.html">Promotions / Events</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/our-promotions-and-events/2021/medishield-life-changes.html">Medishield Life Changes 1 March 2021</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/our-products/wealth-accumulation/prestige-portfolio/fund-screener.html">Fund Tools &amp; Documents</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/our-products/wealth-accumulation/smart-invest/greatlink-funds-prices.html">GreatLink Funds Prices</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/our-products/wealth-accumulation/smart-invest/annual-reports.html">ILP Funds Reports</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/get-help/customer-service.html">Customer care</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/mobile-apps/upgreat.html">UPGREAT</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/get-help/health-connect.html">Health Connect</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/personal-insurance/get-help/find-financial-representative.html">Find a Financial Representative</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="https://www.greateasternlife.com/sg/en/consent-form.html">Stay in touch with Us</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/other-policies-and-notices.html">Common Reporting Standards</a></li><li><a onclick="javascript:recordCustomLink(COMPONENT_TYPE_QUICKLINK, LINK_TYPE_TEXT, this.innerHTML, '', this.href);" href="/sg/en/marketing-consent-preferences-form.html">Marketing Consent Preferences</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- developer note: if "my plans" is not ready, add class="hidden" to hide it, class="navbarItem fLeft hidden" -->
            <div class="navBarItem fLeft hidden">
                <div class="innerWrap oHide">
                    <img class="fLeft icon" src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/icon_plan.png"> 
                    <div class="rel text">My Plans</div>
                </div>
            </div>
            <div class="navBarItem language fLeft last">
                <div class="innerWrap oHide">
					
						<img class="fLeft icon countryFlag" src="/etc.clientlibs/greateastern/clientlibs/clientlib-base/resources/icon_sg.png"> 
					
                    <div class="rel text bigGap">
					
						English
					
                    </div> 
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
 
 <!-- HEADER END -->