<div data-sly-test="${wcmmode.edit}" data-emptytext="Contact us Banner Component" class="cq-placeholder"></div>
<div role="main" class="container py-5 bg-cus">
	<div class="row justify-content-center">
		<div class="col-sm-8">
			<h3 class="text-white heading">${properties.heading}</h3>
			<div class="text-white p-cus-style">${properties.description @context='html'}</div>
			
			<a class="btn btn-light" href="${properties.buttonLink1 @ extension='html'}" role="button" data-sly-test="${properties.buttonLabel1}">${properties.buttonLabel1}</a>
			<a class="btn btn-outline-light ml-2" href="${properties.buttonLink2 @ extension='html'}" data-sly-test="${properties.buttonLabel2}">${properties.buttonLabel2}</a>
		</div>
	</div>
</div>